@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

button,
a {
  cursor: pointer;
}

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
}

@keyframes shine {
  from {
    left: -100%;
  }
  to {
    left: 200%;
  }
}

.animate-shine {
  animation: shine 1.5s ease-in-out infinite;
}

main {
  background-image: src("images/farm-hero.jpg");
}